.vs
/bin-int/
/bin/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

/OrchisEditor/obj/
/OrchisEditor/bin/

/Sandbox/Debug/
/Sandbox/Release/
/OrchisRuntime/Debug/

CMakeCache.txt
**/CMakeFiles/
*.dir
cmake_install.cmake
/x64/