[submodule "Core/vendor/spdlog"]
	path = OrchisRuntime/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Core/vendor/glm"]
	path = OrchisRuntime/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Core/vendor/assimp"]
	path = OrchisRuntime/vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "OrchisRuntime/vendor/assimp"]
	path = OrchisRuntime/vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "OrchisRuntime/vendor/glm"]
	path = OrchisRuntime/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "OrchisRuntime/vendor/spdlog"]
	path = OrchisRuntime/vendor/spdlog
	url = https://github.com/gabime/spdlog
